body {
  background: #faedca;
}

.navigation {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.navigation__button {
  color: #fe5d26;
  font-weight: bold;
  background-color: #c1dbb3;
  margin: 10px;
  padding: 8px;
  width: 150px;
  text-align: center;
  text-decoration: none;
}

.navigation__button--home {
  background-color: #fe5d26;
  color: #faedca;
}

.main {
  background-color: #c1dbb3;
  max-width: 1000px;
  min-height: 800px;
  margin: 20px auto;
  padding: 20px;
}

.main__header {
  color: #fe5d26;
}

.main__picture {
  height: 300px;
}

.main__article {
  background: #faedca;
  width: 400px;
  height: 300px;
  border: 3px solid #fe5d26;
  margin: 30px;
  text-align: left;
  padding: 8px;

}

.main__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
  width: 1000px;
  font-weight: bold;
}

/* kolory :
 FE5D26
F2C078
FAEDCA
C1DBB3
7EBC89 */
