body {
  background: #F7F3E3;
}

.navigation {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.navigation__button {
  color: #F7F3E3;
  font-weight: bold;
  background-color: #AF9164;
  margin: 10px;
  padding: 8px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.navigation__button--home {
  background-color: #9b0909;
  color: #faedca;
}

.main {
  background-color: #B3B6B7;
  max-width: 1000px;
  min-height: 800px;
  margin: 15px auto;
  padding: 30px;
  border-radius: 8px;
}

.main__header {
  color: #6F1A07;
  margin: 0;
}

.main__picture {
  height: 300px;
}

.main__article {
  background: #F7F3E3;
  width: 400px;
  height: 300px;
  border: 3px solid #6F1A07;
  border-radius: 8px;
  margin: 30px;
  text-align: left;
  padding: 8px;

}

.main__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
  width: 1000px;
  font-weight: bold;
}

/* kolory :
 FE5D26
F2C078
FAEDCA
C1DBB3
7EBC89 */
