body {
    background: #FAEDCA;
}

.navigation-button {
    color: #FE5D26;
    font-weight: bold;
    background-color: #C1DBB3;
    margin: 10px;
    padding: 8px;
}


/* kolory :
 FE5D26
F2C078
FAEDCA
C1DBB3
7EBC89 */